<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>apiURL</key>
		<string>http://0.0.0.0:3000</string>
		<key>ObjectStoreFilename</key>
		<string>cache-debug.sqlite</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>apiURL</key>
		<string>http://192.168.1.128:3000</string>
		<key>apiVersion</key>
		<string>1</string>
		<key>ObjectStoreFilename</key>
		<string>cache-debug.sqlite</string>
	</dict>
	<key>Stage</key>
	<dict>
		<key>apiURL</key>
		<string>http://bookapp-stage.herokuapp.com</string>
		<key>ObjectStoreFilename</key>
		<string>cache-debug.sqlite</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>apiURL</key>
		<string></string>
		<key>ObjectStoreFilename</key>
		<string>cache-debug.sqlite</string>
	</dict>
</dict>
</plist>
